*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-accent: #eda35f;
  --color-black: #0d0d0d;
  --color-dark-white: #f2f2f2;
  --color-white: #ffffff;
  --color-dark-gray: #333333;
  --color-opacity-gray: rgba(152, 152, 152, 0.5);
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-dark-white);
}

ul,
li {
  list-style: none;
}

a {
  display: block;
}

/*menu*/

.menu-container {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1072px;
  width: 100%;
  height: 4rem;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--color-accent);
}

.left-link li a,
.right-link li a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

/*products*/
.products-container {
  width: 100%;
  max-width: 1072px;
  margin: 3.8rem auto;
}

.products-top {
  text-align: center;
  margin: 0 auto 64px auto;
}

.products__heading {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--color-black);
}

.products__line {
  display: block;
  width: 130px;
  height: 2px;
  margin: 16px auto;
  background-color: var(--color-opacity-gray);
}

.products-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 228px;
  margin-bottom: 62px;
  border-radius: 8px;
  background-image: url("../assets/banner.png");
}

.products-banner h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-white);
}

.products-card {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.products-card a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

.products-card-man {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 470px;
  width: 336px;
  border-radius: 8px;
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/masculino.png");
}

.products-card-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 470px;
  width: 336px;
  border-radius: 8px;
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/feminino.png");
}

.products-card-kid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 470px;
  width: 336px;
  border-radius: 8px;
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/infantil.png");
}

.products-card h3 a {
  font-size: 24px;
  padding: 64px;
  transition: all 0.5s ease;
}

.products-card h3 a:hover {
  color: var(--color-accent);
}

/*footer*/

footer {
  max-width: 1072px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-black);
}

.date::after {
  content: "\a";
  white-space: pre;
}

@media screen and (min-width: 580px) {
  .footer {
    font-size: 1.6rem;
  }

  .date::after {
    content: "";
  }
}

/*out of stock modal*/

.out-modal-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-opacity-gray);
}

.out-modal {
  position: fixed;
  top: 30%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  border: 4px solid var(--color-accent);
  box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.226);
  background-color: var(--color-dark-white);
}

.out-modal p {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: var(--color-black);
}

.out-modal a {
  display: block;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent);
}

.out-modal-container.show {
  display: flex;
  opacity: 1;
  transition: all 0.1s ease;
}
