*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-accent: #eda35f;
  --color-black: #0d0d0d;
  --color-dark-white: #f2f2f2;
  --color-white: #ffffff;
  --color-dark-gray: #333333;
  --color-opacity-gray: rgba(152, 152, 152, 0.5);
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-dark-white);
}

ul,
li {
  list-style: none;
}

a {
  display: block;
}